<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}
  </title>
  <meta name="description" content="A Directory of Digital Scholarship in Music">

  <link rel='canonical' href='{{ page.url | absolute_url }}'/>
  <link rel='icon' type='image/png' href="{{ 'img/icon.png' | absolute_url }}">
  <link rel='stylesheet' href="{{ '/assets/styles.css' | absolute_url }}"/>

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://rutgersdh.github.io/musicdh/">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}">
<meta property="og:description" content="A Directory of Digital Scholarship in Music">
<meta property="og:image" content="https://rutgersdh.github.io/musicdh/img/open-graph.png">
<meta property="fb:app_id" content="1394603737314760"/>
<meta property="fb:admins" content="Francesca"/>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@jo_frankie" />
<meta property="og:url" content="https://rutgersdh.github.io/musicdh/" />
<meta property="og:title" content="{{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}" />
<meta property="og:description" content="A Directory of Digital Scholarship in Music" />
<meta property="og:image" content="https://rutgersdh.github.io/musicdh/img/open-graph.png" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7JDKHVVPRS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7JDKHVVPRS');
</script>

<!-- jQuery stylesheet -->
<script type='text/javascript' src="/musicdh/assets/jquery-3.2.1.min.js"></script>
  <noscript><p>Please enable JavaScript in your browser.</p></noscript>

</head>
