<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}
  </title>
  <meta name="description" content="A Directory of Caribbean Digital Scholarship">

  <link rel='canonical' href='{{ page.url | absolute_url }}'/>
  <link rel='icon' type='image/png' href="{{ 'img/logo.png' | absolute_url }}">
  <link rel='stylesheet' href="{{ '/assets/styles.css' | absolute_url }}"/>



<!-- Facebook Meta Tags -->
<meta property="og:url" content="http://caribbeandigitalnyc.net/caridischo/">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}">
<meta property="og:description" content="A Directory of Caribbean Digital Scholarship">
<meta property="og:image" content="http://caribbeandigitalnyc.net/2020/images/open-graph.png">
<meta property="fb:app_id" content="837201816410405"/>
<meta property="fb:admins" content="elotroalex"/>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="caribbeandigitalnyc.net">
<meta property="twitter:url" content="http://caribbeandigitalnyc.net/2020/images/open-graph.png">
<meta name="twitter:title" content="{{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}">
<meta name="twitter:description" content="A Directory of Caribbean Digital Scholarship">
<meta name="twitter:image" content="http://caribbeandigitalnyc.net/2020/images/open-graph.png">

  <script type='text/javascript' src="{{ '/assets/jquery-3.2.1.min.js' | absolute_url }}"></script>
  <noscript><p>Please enable JavaScript in your browser.</p></noscript>
</head>
