---
layout: generic_collection_item
image_viewer: 'simple'
pagination: true
meta:
  - label: 'Link'
    value: page.link
    type: link
  - label: 'Status'
    value: page.status
  - label: 'How they describe themselves'
    value: page.claimed_category
  - label: 'Blurb'
    value: page.blurb
  - label: 'Creator(s)'
    value: page.creators
  - label: 'Steward(s)'
    value: page.stewards
  - label: 'Tools used'
    value: page.tools_used
  - label: 'Code repository'
    value: page.code_repository
    type: link
---
